@import '~bootstrap/scss/bootstrap';

@import 'tooltip';
@import 'overlay';

.search--disabled {
  background-color: rgba(238, 238, 238, 1);

  -webkit-transition: background-color 600ms linear;
  -moz-transition: background-color 600ms linear;
  -o-transition: background-color 600ms linear;
  -ms-transition: background-color 600ms linear;
  transition: background-color 600ms linear;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
